# Day 1

## Basics of Python

In [43]:
print ("Hello World")  ## Write/run

Hello World

In [44]:
print("Hello World. this is an amzing python class ")  ## Edit

Hello World. this is an amzing python class

In [45]:
print ("Hello World. this is an amzing python class ) "   ## Debug

SyntaxError: incomplete input (2794098744.py, line 1)

In [46]:
print (2+6)       ## Input/ output

8

## python comments (##) , (""")

In [47]:
print ("Hello World") # this is comment

Hello World

In [48]:
 # this is comment
print ("Jayshree")

Jayshree

### miltiline comment

In [49]:
# this is comment 1
# this is comment 2                  
# this is comment 3
print (6+9)

15

In [50]:
""" this is our first class of python """               ### comment(""")
print (6-9)

-3

# Day 2

## Variables & Operators in Python

In [51]:
a = 1                   ## Variables Name "a"
print (a)

1

In [52]:
b = 2                  ## Variables Name " b / c "
c = 2.3
print (b,c)

2 2.3

In [53]:
x = "apple"            ## Strings Variable = Variable-x / String-apple ( "x"   , 'x'  )
print ("x")

x

In [54]:
student = 23
print (student)

23

In [55]:
1@#& =2                  ## variable banvaycha aasel tar kontya pan 1 single letter la use kru shakto / Alphanumeric pan use kru shakto
print(1@#&)

SyntaxError: invalid syntax (2509127712.py, line 1)

In [56]:
student123 = 25            ## Alphanumeric (Meaning : containing or using both numbers and letters) variables create kru shakto 
print (student123)

25

In [57]:
_a= 5                     ## _ deun pan variable banu shakto pan @ # % & 2.3 5.6 nahi use kru shakt 
print (_a)

5

## many valuse to multiple variables

In [58]:
x,y,z = "orange", "banana" ," cherry"
print (x,y,z)

orange banana  cherry

In [59]:
x=y=z= "orange"            ## many valuse pan aapan multiple variables mdhe deu shakto 
print (x)
print (y)
print (z)

orange
orange
orange

### python output variables

In [60]:
x = "Python"               ## print x,,y,z = output / python is amazing 
y = "is"
z = "amazing"
print (x,y,z)

print ()                     ## print (x ) print (y) print (z) / output - separated

print (x)
print (y)
print (z)

Python is amazing

Python
is
amazing

### Data Types

In [61]:
x= 2                    # Interger data types
print (x)
print (type(x))

2
<class 'int'>

In [62]:
y = 4.5                # float data types [.]
print (y)
print (type(y))

4.5
<class 'float'>

In [63]:
z = 2+5j               # complex number types [2+5j]
print (z)
print (type(z))

(2+5j)
<class 'complex'>

In [64]:
a = " this is the day 2 of python class "           # String data types [text]
print (a)
print (type(a))

 this is the day 2 of python class
<class 'str'>

In [65]:
 b =[1,2,3,4,5,6,7,8,9,10]                         # list data types []
print (b)
print (type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [66]:
c =(1,2,3,4,5,6,7,8,9,10)                         # Tuple data types ()
print (c)
print (type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [67]:
# jupyter notbook mdhe kiti variables ahet / kontya value store aahet
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      str          this is the day 2 of python class
b                      list        n=10
c                      tuple       n=10
dataframe_columns      function    <function dataframe_colum<...>ns at 0x0000016CD21F58A0>
dataframe_hash         function    <function dataframe_hash at 0x0000016CD21F5260>
dtypes_str             function    <function dtypes_str at 0x0000016CD21F6A20>
g                      str         ^
get_dataframes         function    <function get_dataframes at 0x0000016CD21F6660>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x0000016CD21F4F40>
is_data_frame          function    <function is_data_frame at 0x0000016CD1173A60>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
student                int         23
student123             int         25
x                      int         2
y                      float       4.5
z                      complex     (2+5j)

 # Operators in python

In [68]:
# operators : these are the special symbols . eg - +, *, / , etc 

# Arithmetic operators
# Comparison  operators
# logical  operators
# Bitwise  operators
# Assignment  operators
# Identity Operators and Membership  operators

In [69]:
a = 5               # add +
b = 3 
print (a+b)

8

In [70]:
a = 5   # int
b = 2.3 # float
print (a+b)

7.3

In [71]:
a = 5+6j  #complex
b = 5     # int
print (a+b)

(10+6j)

In [72]:
a = "hello"  # string 
b = "students"
print (a + b)

hellostudents

In [73]:
a = "hello"  # string / separate [" " ] 
b = "students"
print (a +" " + b)

hello students

### Subtraction

In [74]:
a = 15
b = 6
print (a-b)

9

In [75]:
a = 5.36985
b = 6.258
print (a-b)

-0.8881500000000004

In [76]:
# complax no. 
a = 5+6j
b = 6
print (a-b)

(-1+6j)

In [77]:
# Srings no. / error
a = " hello"
b = "student"
print (a- b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### multiplication

In [78]:
a = 15 
b = 56
print (a*b)

840

In [79]:
a = 5.689  # float  
b = 82.55632
print (a*b)

469.66290448

### Division

In [80]:
a = 15 
b = 2
print (a/b)

7.5

### Modulous

In [81]:
a = 19                        # Jar aapan 19 / 3  kel tar ans 6 yet pan tyachi baki 1 yete  mhanjecha modulous 
b = 3
print (a%b)

1

In [82]:
a = 12 
b = 4 
print (a%b)

0

### Exponrnt

In [83]:
# jar mla khup motha no. dila eg- 91256489 yachi mla 55 power kadhun pahije

In [84]:
a = 41256789
print (a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [71]:
a = ((859*78)+(78.256/89)+(856**57)+(145698-7526))
print (a)

1.4158087322788437e+167

### Boolean

#### True or False

In [ ]:
# f or f = f 
# f or t = t
# t or f = t 
# t or t = t

In [74]:
a = True                  ## and Operators/ t and f = false
b = False                
print (a and b )

False

In [75]:
a = True                  ## and Operators/ t and t = true
b = True                
print (a and b )

True

In [77]:
a = True                  ## or Operators/ t and f = true
b = False                
print (a or b )

True

In [78]:
a = False                 ## or Operators/ f and f = false
b = False                
print (a or b )

False

In [81]:
a = False                 ## not Operators/ f and f = true
b = False                
print (not(a))

True

In [82]:
a = True                  ## not Operators/ t and f = false
b = False                
print( not (a))

False

In [84]:
# home work 
a = ((8922*2852)+(7821*222)-(25566*256)+(8281/87))
print (a)

20637005.183908045

# Day 3

 #### In- buitlt Functions of python

###### Types of python functions

In [28]:
# 1] Built-in Function in python / abs() , bin() , bytes() , chr() 
# 2] python Recursive Function 
# 3] python Lambda function 
# 4] user-defined functions in python (aase function jyala aapan swata banvato python mdhe tyala aapan bolato user-difined funtion )

## Built-in function

 ###### (      aase function je python mthe aadhipasun cha available aahet tyala aapan mhanto built-in function      /     eg- print()    /   in python 3.6 , there are 68 built-in function - aaplyala fakt tyacha use karta aala pahije )

#### abs()function   [Absolute function]

 ###### kas kam karat he function - eg  = Spesified value la dakhavto / samja me ek int-value ghetli (-7.25) yachi jae absolute value kadaychi aasel tar python mdhe aashi pasun cha ek banavlel function aahe {abs()}aani yacha (-) nighun jail aani tyachi value hoil 7.25

In [29]:
x=abs(-7.25)
print(x)

7.25

In [30]:
y=abs(9)
print (y)

9

In [31]:
z = abs(3+5j)
print (z)

5.830951894845301

#### Binary function

##### he function kas kam karto tar aapan konata pan no. ghetla tyala ha convert binary no. mdhe Eg - samja me int 13 ghetal aani yala mla  memory store kraycha aahe  tar ha 13 no. store nahi honar memory mdhe  saglyat pahile tyala convert kel jail binary mdhe mag ha store hoil memory mdhe /8421= 8 kiti vela ghetla 1 , 4-1 , 2-0 , 1-1 = 1101 tar python mde ya sathi function aahe [bin()]

In [32]:
x=bin(13)     ### 0b code mdhe yeto cha / 8,4,2,1=1101
print (x)

0b1101

In [33]:
y = bin (36)  ### 32,16,8,4,2,1 = 100100
print (y)

0b100100

In [34]:
z= bin (56) 
print (z)

0b111000

##### python Bytes function

In [35]:
x= bytes(4)
print (x)

b'\x00\x00\x00\x00'

In [36]:
x= bytes(16)
print (x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

#### chr() function [Character function]

###### chr() he python mdhil ek build-in function aahe hicha upyog number pasun character milavnyasathi hoto / Eg. a,b,c,d ......Z ya sathi pratek character la aapan code karto tyala aapan bolto unicode a=97 ,c=98 , d=99  mag jar me 97 lihal tar mla tyacha aakshar bhetel a

In [37]:
x = chr(97)
print (x)

a

In [38]:
y = chr(98)
print (y)

b

In [39]:
z = chr(99)
print (z)

c

In [40]:
g = chr(94)
print (g)

^

In [41]:
x = chr(95)
print (x)

_

In [42]:
x = chr(100)
print (x)

d